0x04-loops_conditions_and_parsing/school
0x04-loops_conditions_and_parsing/index
0x04-loops_conditions_and_parsing/Untitled-3.sh
puppet-lint

0x0A-configuration_management/ubuntu
0x16-api_advanced/__pycache__/req.cpython-38.pyc
0x16-api_advanced/__pycache__/0-subs.cpython-38.pyc
0x16-api_advanced/req.py
0x16-api_advanced/0-main.py
0x0F-load_balancer/transfer-file
0x16-api_advanced/1-main.py
0x16-api_advanced/__pycache__/1-top_ten.cpython-38.pyc
